/*  Styles for Tables - http://codepen.io/alassetter/pen/cyrfB */
/*table#address-for-correspondence tr th{ 
  width: 10em;
}*/
/*==============================================Tables=============================================*/
article#node-5 table {
	margin: auto;
	width: 500px;
}
table.views-table tr td a {
	display: block;
}
table#address-for-correspondence, table.organisers, table.payment-mode {
	width: auto;
	margin: 0 auto 25px auto;
}
table.organisers tr td, table.organising-comitee tr td {
	width: 50%;
	text-align: left;
}
table#address-for-correspondence tr td, table#address-for-correspondence tr th, table.organisers tr td, table.organisers tr th, table.organising-comitee tr th, table.register-for-amma tr th, table.payment-mode th  {
	text-align: center;
}
th, thead th {
	color: #D5DDE5;
	background: #1b1e24;
	border-bottom: 4px solid #9ea7af;
	border-right: 1px solid #343a45;
	text-align: left;
	vertical-align: middle;
}
th.last {
	border-bottom: none;
}
th:last-child {
	border-right: none;
}
tr {
	/*border-top: 1px solid #C1C3D1;
	border-bottom: 1px solid #C1C3D1;*/
	color: #666B85;
	font-weight: normal;
}
tr td a {
	color: #666B85;
}
tr:hover td {
	background: #4E5066;
	color: #FFFFFF;
}
tr:hover td a {
	color: #FFFFFF;
}
tr td a:hover {
	color: #e25400;
}
tr:first-child {
	border-top: none;
}
tr:last-child {
	border-bottom: none;
}
tr:nth-child(odd) td {
	background: #EBEBEB;
}
tr:nth-child(odd):hover td {
	background: #4E5066;
}
td {
	background: #FFFFFF;
	padding: 20px;
	text-align: left;
	vertical-align: middle;
	border-right: 1px solid #C1C3D1;
}
td:last-child {
	border-right: 0px;
}