/* ICAMMA - 2015 Styles*/
/*
Colors :
BG - #edeef0 - Light blue
#e0e0e0 - Windows Live Grey

}*/
/* Header Title*/
#branding {
	padding: 34px 0 35px;
}
header.page-title {
	background: #2e2e2d;
	color: #fff;
	margin-bottom: 10px;
}
h1#page-title, .in-maintenance h1#page-title {
	padding: 14px;
	margin: 0;
}
.content-style {
	border: none;
	background: none;
}
#block-system-help {
	background: none;
	border: none;
	margin-top: 25px;
}
#block-search-form {
	float: right !important;
}
#search-block-form {
	margin: 0.4em 0 0 0;
}
#block-search-form input.form-text {
	width: 225px;
	margin-bottom: 0;
}
section#main-content {
	width: 100%;
}
div#footer-wrapper div.block-content {
	text-align: center;
}
/* Menu Highlight Fix for IE*/
.nav .block-menu ul li:focus, .nav .block-menu ul li:hover, .nav .block-menu ul li:active{
 background: #e25402;
}
.nav .block-menu ul a:visited {
	background: none;
}
/*==============================================Tabels=============================================*/
article#node-4 table {
	border: none;
}
article#node-4 table tbody {
	border: none;
}
article#node-4 table tr td {
	width: 50%;
	border: none;
	text-align: left;
}
article#node-4 table tr td:first-child {
	border-right: 1px solid #eee;
}
article#node-5 table { /**/
	margin: auto;
	width: 500px;
}
table.views-table tr td a {
	display: block;
}
/*==============================================Tabels END=============================================*/

/*==============================================Horizontal Tabs=============================================*/
div.horizontal-tabs {
	border-top: none;
}
.horizontal-tabs ul.horizontal-tabs-list li:hover, .horizontal-tabs ul.horizontal-tabs-list li:focus {
	background-color: #fff;
	box-shadow: 5px inset #fff;
}
.horizontal-tabs ul.horizontal-tabs-list li a:hover, .horizontal-tabs ul.horizontal-tabs-list li:hover {
	background-color: #fff;
}
.horizontal-tabs ul.horizontal-tabs-list {
	border-bottom: 1px solid #ccc;
	border-right: none;
	border-collapse: collapse;
	list-style: outside none none;
	background: #fff;
	white-space: nowrap;
	width: 100.1%;
}
.horizontal-tabs ul.horizontal-tabs-list li {
	border-top: 1px solid #ccc;
	margin-right: 10px;
	display: inline;
	z-index: 999;
}
.horizontal-tabs ul.horizontal-tabs-list li.last {
	border-left: 1px solid #ccc;
}
/*div.horizontal-tabs-panes{
  border-top:1px solid #ccc;
  border-right:1px solid #ccc;
  margin-top:-8px;
}*/
/*==============================================Horizontal Tabs - End=============================================*/

/*==============================================Forms=============================================*/
/*Registration Form*/
form#registration-form .form-checkboxes .form-item, .form-radios .form-item {
	display: inline;
}
form#registration-form select#edit-field-name-und-0-title {
	padding: 4px;
	height: 34px;
}
input.form-text, input.form-password, input.form-file, textarea {
	border-radius: 0;
}
form#registration-form div.registration-who-msg {
	display: none;
}
/*Abstract Form*/
div.grippie {
	display: none;
}
/*==============================================Forms - End=============================================*/



/*==============================================Radio Buttons=============================================*/
label span.form-required {
	display: none;
}
div.form-wrapper, div.form-actions {
	clear: both;
}
div.form-type-radio label {
	width: auto;
	border: 1px solid #D1D3D4;
	padding: 0 4px 0 0;
	margin: 5px;
}
/* hide input */
div.form-type-radio input.form-radio:empty {
	margin-left: -99999px;
}
/* style label */
div.form-type-radio input.form-radio:empty ~ label {
	position: relative;
	float: left;
	text-indent: 2.4em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div.form-type-radio input.form-radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2em;
	background: /*#D1D3D4*/#fff;
	border-right: 1px solid #D1D3D4;
}
/* toggle hover */
div.form-type-radio input.form-radio:hover:not(:checked) ~ label:before {
	content: '\2714';
	text-indent: .5em;
	color: #C2C2C2;
}
div.form-type-radio input.form-radio:hover:not(:checked) ~ label {
	color: #888;
}
/* toggle on */
div.form-type-radio input.form-radio:checked ~ label:before {
	content: '\2714';
	text-indent: .5em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}
div.form-type-radio input.form-radio:checked ~ label {
	color: #777;
}
/* radio focus */
/*div.form-type-radio input.form-radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}*/
/*==============================================Radio Buttons - End=============================================*/

/*==============================================Submit Buttons=============================================*/
input.form-button, input.form-submit {
	background: #2e2e2d;
	outline: none;
	border: 1px solid #d8d8d8;
}
input.form-button:hover, input.form-submit:hover {
	background-color: #e25400;
}
input.form-button:active, input.form-submit:active {
	background-color: #d9d9d9;
}
input#edit-submit {
	font-weight: bold;
	color: #fff;
	margin: 0 auto;
	position: relative;
	display: block;
	padding: 20px;
}
/*==============================================Submit Buttons - End=============================================*/


.chosen-container-single .chosen-single {
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	border-radius: 0;
	background: none;
}
.chosen-container-active.chosen-with-drop .chosen-single {
	background: none;
}
.chosen-container-single .chosen-single div b {
	background-position: 0 8px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 8px;
}
.chosen-container .chosen-results li.highlighted {
	background: #e25400;
}
.chosen-drop {
	scrollbar-face-color: #000000;
	scrollbar-shadow-color: #2D2C4D;
	scrollbar-highlight-color: #7D7E94;
	scrollbar-3dlight-color: #7D7E94;
	scrollbar-darkshadow-color: #2D2C4D;
	scrollbar-track-color: #7D7E94;
	scrollbar-arrow-color: #C1C1D1;
}
